
h2{
    display: block;
    text-align: center;
    padding-bottom: 5%;
}

.row{
    justify-content: center;
}

.container{
    padding: 5% 0 10% 0;
    background-color: rgb(247, 238, 231);
}

.btn{
    display: block;
    float: left;
    width: 25%;
    margin-bottom: 1px;
    padding: 15px 0 15px 0;
}

.clear{
    width: 100%;
}

